.navbar{
	position: fixed;
	top: 0;
	width: 100%
}

.navbar-brand>img{
	height: 30px;
}

.block-1 {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  color: #1A2530;
	transition: all .5s;
}

.main-title>span{
	color: #FF283F;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .block-1{
  	height: 600px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .block-1{
  	height: 800px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .block-1{
  	height: 1000px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .block-1{
  	height: 1000px;
  }
}
